.box {
    padding: 60px;
    max-width: 650px;
    background: lighten($theme-color, 20%);
    border: $dash-size dashed $theme-color;
    box-shadow: 0 0 0 ($dash-size / 2) darken($theme-color, 20%), 0 0 0 ($dash-size * 2.5) #fff, inset 0 0 0 ($dash-size / 2) darken($theme-color, 20%), 0 $dash-size ($dash-size * 2) ($dash-size * 3) rgba(0,0,0,0.5), inset 0 0 0 ($dash-size * 1.2) #fff, inset 0 0 100vw 100vw $fill-color;
    color: $theme-color;
    font-family: Marcellus, serif;
    font-size: 3em;
    text-shadow: 0 2px #fff;
    text-align: center;
}