* {
    box-sizing: border-box;
}

.bg-imggggg {
    background-image: url("Anh-bia.png");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

.btnnnnn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .btnnnnn:hover {
        opacity: 1;
    }

.checkout {
    height: 300px;
    width: 400px;
    margin: 20px auto;
    border: 2px solid black;
    text-align: center;
}