
@{
    ViewData["Title"] = "Bill";
}

<div class="card">
  <div class="card-body mx-4">
    <div class="container" style = "text-align : center">
      <p class="my-5 mx-5" style="font-size: 30px;font-weight : bold;"><h3>Bill</h3></p>
      <div class="row">
        <ul class="list-unstyled">
          <li class="text-black">John Doe</li>
          <li class="text-muted mt-1"><span class="text-black">(Id)</span> #12345</li>
          <li class="text-black mt-1">(Ngày tạo)</li>
        </ul>
        <hr>
        <div class="col-xl-10">
          <p>(Tên sản phẩm)</p>
        </div>
        <div class="col-xl-2">
          <p class="float-end">(Giá)
          </p>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-xl-10">
          <p>(Số tiền giảm)</p>
        </div>
        <div class="col-xl-2">
          <p class="float-end">$100.00
          </p>
        </div>
        <hr>
      </div>
      <div class="row text-black">

        <div class="col-xl-12">
          <p class="float-end fw-bold">(Tổng tiền): $10.00
          </p>
        </div>
        <hr style="border: 2px solid black;">
      </div>
      <div class="text-center" style="margin-top: 90px;">
        <a><u class="text-info">(Hóa đơn chi tiết)</u></a>
        <p>(Lại là lời cảm ơn)</p>
      </div>

    </div>
  </div>
</div>

